/**
 * DEPRECATED: postHeader.css
 *
 * This file is FULLY DEPRECATED as of 2025-12-31.
 *
 * ALL post header styles have been moved to:
 * - src/components/PostHeader.jsx (component)
 * - src/components/PostHeader.css (canonical CSS with CSS Grid layout)
 *
 * This file is intentionally EMPTY to prevent CSS conflicts.
 *
 * The @import in components.css should be removed once all pages
 * have been migrated to use the PostHeader component.
 *
 * DO NOT add any styles here.
 */

